alembic==0.8.10
Flask==1.1.2
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
itsdangerous==0.24
PyJWT==1.7.1
python-dotenv==0.6.4
python-editor==1.0.3
python-etcd==0.4.5
requests==2.13.0
six==1.10.0
SQLAlchemy==1.3.19
urllib3==1.20
Werkzeug==1.0.1
apispec==2.0.0
flask_jwt_extended==3.24.1
marshmallow==2.20.5
apispec-webframeworks==0.4.0
yaml-1.3==0.1.0
marshmallow-sqlalchemy==0.23.1
passlib==1.7.4
psycopg2==2.8.6