:root {
  --section-width: 22vw;
}

.App {
  padding: 0;
  margin: 0;
  display: grid;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: bookman, "Andale Mono", monospace;
  font-size: 18px;
  font-weight: bold;
  color: #41444b;
  background-color: #ecf4f3;
  /* justify-content: center;
  align-content: center; */
  color: rgb(120, 120, 120);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.line {
  font-size: 1em;
  color: rgb(120, 120, 120);
}

.title {
  padding-top: 0.5em;
}
.text:hover {
  color: #f0a500;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f0a500;
}
.home-page {
  display: grid;
  grid-template-rows: 10vh 15vh 1fr 10vh;
  grid-template-columns: 5vw 20vw 40vw 1fr;
  grid-column-gap: 3vw;
  grid-row-gap: 3vh;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "aside-left-space aside-left main aside-right"
    "footer footer footer footer";
}

.main {
  grid-area: main;
}

.nav {
  grid-area: nav;
  background-color: #f0a500;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.header {
  grid-area: header;
}

.aside-left-space {
  grid-area: aside-left-space;
}
.aside-left {
  grid-area: aside-left;
}

.aside-right {
  grid-area: aside-right;
}

.footer {
  grid-area: footer;
  background-color: darkslategrey;
}
.bookmark {
  width: var(--section-width);
  max-height: 20vw;
  background-color: white;
  display: grid;
  margin-bottom: 1em;
  grid-template-rows: 1fr 65px 65px;
  grid-template-columns: 150px 1fr;
  grid-template-areas:
    "bookmark-image bookmark-main"
    "bookmark-tags  bookmark-tags"
    "bookmark-footer bookmark-footer";
}

.bookmark-image {
  grid-area: bookmark-image;
}

.bookmark-main {
  grid-area: bookmark-main;
  text-align: left;
  padding-left: 1em;
}

.bookmark-about {
}

.bookmark-tags {
  grid-area: bookmark-tags;
  display: flex;
}

.bookmark-tag-item {
  margin: 1em 1em 0 1em;
  background-color: #ecf4f3;
  height: 1.5em;
  padding: -0.75em 0.25em 0 0.25em;
  align-content: center;
  border-radius: 20%;
}

.bookmark-tag-item:hover {
  color: #f0a500;
  cursor: pointer;
}
.bookmark-footer {
  grid-area: bookmark-footer;
  display: flex;
  padding: 0 1em 1em 1em;
  margin-top: -1em;
}

.bookmark-footer-start {
  display: flex;
  /* flex-direction: horizontal; */
  /* align-content: center; */
}

.bookmark-footer-end {
  /* display: flex; */

  justify-content: flex-end;
}

.created-on {
  margin-right: 1.5em;
}

.bookmark-url {
  margin-right: 5em;
}

.bookmark-list {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  column-gap: 1em;
}
.aside-tags {
  display: flex;
  flex-direction: column;
  min-width: 35vw;
}

.tag-status {
  background-color: #ffffff;
  height: 15vh;
  min-width: var(--section-width);
}

.tag-list {
  background-color: #ffffff;
  min-height: 45vh;
  min-width: var(--section-width);
  margin: 10px 0px 10px 0px;
}
.aside-tag-item {
  display: grid;
  grid-template-columns: 200px 1fr;

  justify-items: start;
  margin-bottom: 0.5em;
}

.aside-tag-item:hover {
  background-color: beige;
}
.aside-tag-item-name {
  margin-left: -1.5em;
}

.aside-tag-item-count {
}
.tag-visibility {
  background-color: #ffffff;
  height: 125px;
  min-width: var(--section-width);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
