.App {
  padding: 0;
  margin: 0;
  display: grid;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: bookman, "Andale Mono", monospace;
  font-size: 18px;
  font-weight: bold;
  color: #41444b;
  background-color: #ecf4f3;
  justify-content: center;
  align-content: center;
  color: rgb(120, 120, 120);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text:hover {
  color: #f0a500;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bookmark {
  width: 40vw;
  height: 15vw;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 65px;
  grid-template-columns: 150px 1fr;
  grid-template-areas:
    "bookmark-image bookmark-main"
    "bookmark-footer bookmark-footer";
}

.bookmark-image {
  grid-area: bookmark-image;
}

.bookmark-main {
  grid-area: bookmark-main;
  text-align: left;
  padding-left: 1em;
}

.bookmark-about {
}

.bookmark-footer {
  grid-area: bookmark-footer;
  display: flex;
  padding: 1em;
}

.bookmark-footer-start {
  display: flex;
  /* flex-direction: horizontal; */
  /* align-content: center; */
}

.bookmark-footer-end {
  /* display: flex; */

  justify-content: flex-end;
}

.created-on {
  margin-right: 1.5em;
}

.bookmark-url {
  margin-right: 5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
